<div class="page-header">
  <h1>Notes</h1>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <ul class="list-group">
      <li id="new_note_form_list_item" class="list-group-item">
        <%= render 'inline_form', :note => Note.new %>
      </li>
      <% @notes.each do |note| %>
        <%= render 'note', :note => note %>
      <% end %>
    </ul>
  </div>
</div>





